%html
  %head
    %title minmax
    %script(src="../../bower_components/angular/angular.js")
    %script(src="../scripts/modules/boardMaster/boardMaster.js")
    %script(src="../scripts/modules/player/player.js")
    %script(src="../scripts/modules/player/minmax.js")
    %script(src="../scripts/modules/player/man.js")
    %script(src="../scripts/modules/gameMaster/gameMaster.js")
    %script(src="../scripts/controllers/minmax.js")
    %script(src="../scripts/app.js")
    %script(src="../scripts/bootstrap.js")
    %link(href="../styles/minmax.css" rel="stylesheet")
  %body(ng-controller="amo.minmax.controllers.minmax")
    .configs
      .config
        %span min = 
        %input(type="text" ng-model="min")
      .config
        %span max =
        %input(type="text" ng-model="max")
      .config
        %span rank =
        %input(type="text" ng-model="rank")
    .button
      %button(ng-click="createBoardMaster()") create
    .boardMaster
      .score
        .man {{ boardMaster.current.score(boardMaster.const.TURN.H) }}
        .com {{ boardMaster.current.score(boardMaster.const.TURN.V) }}
      .board
        .row(ng-repeat="i in rankList" style="clear:both; display: table;")
          .panel(ng-repeat="j in rankList" ng-class="{selectable: boardMaster.selectable([i, j]), used: boardMaster.used([i, j])}" style="width: 50px; height: 50px; border: solid 1px; float:left; display: table-cell; text-align: center; vertical-align: middle;" ng-click="clickCell(i, j)")
            {{ boardMaster.get([i, j]) }}
