%html
  %head
    %title minmax
    %script(src="../../bower_components/angular/angular.js")
    %script(src="../scripts/modules/boardMaster/boardMaster.js")
    %script(src="../scripts/controllers/minmax.js")
    %script(src="../scripts/app.js")
    %script(src="../scripts/bootstrap.js")
  %body(ng-controller="amo.minmax.controllers.minmax")
    %h1 {{ hoge }}
