.minmax
  .boardMaster(style="width: {{boardMaster.const.rank() * 40}}px;")
    .score
      .score-item.black.col-xs-6(ng-class="{'current-turn':boardMaster.current.turn(boardMaster.const.TURN.BLACK) && !boardMaster.isFinished()}")
        %i.fa.fa-star-o(ng-show="boardMaster.isFinished() && boardMaster.current.result() > 0")
        {{ boardMaster.current.score(boardMaster.const.TURN.BLACK) }}
      .score-item.white.col-xs-6(ng-class="{'current-turn':boardMaster.current.turn(boardMaster.const.TURN.WHITE) && !boardMaster.isFinished()}")
        %i.fa.fa-star-o(ng-show="boardMaster.isFinished() && boardMaster.current.result() < 0")
        {{ boardMaster.current.score(boardMaster.const.TURN.WHITE) }}
    .board
      .row(ng-repeat="i in rankList")
        .panel.col-md-1(ng-repeat="j in rankList" ng-class="{selectable: boardMaster.selectable([i, j]), used: boardMaster.used([i, j])}" ng-click="clickCell(i, j)" style="width: 40px; height: 40px;")
          .inner-panel {{ boardMaster.get([i, j]) }}
  .sns
    .twitter
      %a.twitter-hashtag-button(href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Famo12937.github.io%2Fminmax_web%2F&text=now%20playing%20%23minmaxO_O&url=http%3A%2F%2Famo12937.github.io%2Fminmax_web%2F") Tweet
      %script(type="text/javascript-lazy")
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  .result(ng-show="boardMaster.isFinished()")
    %label(ng-show="boardMaster.current.result() == 0") {{ "Drawn!"|trans }}
    %label(ng-hide="boardMaster.current.result() == 0") {{ "%name% win!"|trans:{name:winner.name} }}
  .menu(ng-show="boardMaster.isFinished()")
    .form-inline
      .form-group
        %button.btn.btn-default(ng-click="play()") {{ "replay"|trans }}
      .form-group
        %label {{ "level"|trans }}
        %select.form-control(ng-model="p2_level" ng-options="v for v in levels")
  .help
    %h2 {{ "How to play"|trans }}
    %ul
      %li {{ "It is the game to compete the total score by taking panel alternately."|trans }}
      %li {{ "First-move can choose any panel at first."|trans }}
      %li {{ "Second-move can choose the panel on the same col that chosen by First-move."|trans }}
      %li {{ "First-move can choose the panel on the same row that chosen by Second-move."|trans }}
      %li {{ "You can not choose the panel already chosen."|trans }}
      %li {{ "You can not pass."|trans }}
      %li {{ "The game ends when no panels can choose."|trans}}
  
