.minmax
  .configs
    .config
      .sample {{ "hello"|trans }}
    .config
      %span first:
      %input(type="radio" ng-model="first" value="{{player.MAN}}") man
      %input(type="radio" ng-model="first" value="{{player.COM}}") com
    .config
      %span second:
      %input(type="radio" ng-model="second" value="{{player.MAN}}") man
      %input(type="radio" ng-model="second" value="{{player.COM}}") com
  .button
    %button(ng-click="createBoardMaster()") create
  .boardMaster
    .score
      .man {{ boardMaster.current.score(boardMaster.const.TURN.H) }}
      .com {{ boardMaster.current.score(boardMaster.const.TURN.V) }}
    .board
      .row(ng-repeat="i in rankList" style="clear:both; display: table;")
        .panel.col-md-1(ng-repeat="j in rankList" ng-class="{selectable: boardMaster.selectable([i, j]), used: boardMaster.used([i, j])}" style="width: 40px; height: 40px; border: solid 1px; float:left; display: table-cell; text-align: center; vertical-align: middle;" ng-click="clickCell(i, j)")
          {{ boardMaster.get([i, j]) }}
