.minmax
  .configs
    .config
      .sample {{ "hello"|trans }}
    .config.radio
      %span first:
      %select(ng-model="first.type" ng-options="v for (k, v) in player")
      %span name:
      %input(type="text" ng-model="first.name" placeholder="{{first.namePlaceHolder()}}")
    .config.radio
      %span second:
      %select(ng-model="second.type" ng-options="v for (k, v) in player")
      %span name:
      %input(type="text" ng-model="second.name" placeholder="{{second.namePlaceHolder()}}")
  .button
    %button.btn.btn-default(ng-click="createBoardMaster()") create
  .boardMaster
    .score
      .man {{ boardMaster.current.score(boardMaster.const.TURN.H) }}
      .com {{ boardMaster.current.score(boardMaster.const.TURN.V) }}
    .board
      .row(ng-repeat="i in rankList" style="clear:both; display: table;")
        .panel.col-md-1(ng-repeat="j in rankList" ng-class="{selectable: boardMaster.selectable([i, j]), used: boardMaster.used([i, j])}" style="width: 40px; height: 40px; border: solid 1px; float:left; display: table-cell; text-align: center; vertical-align: middle;" ng-click="clickCell(i, j)")
          {{ boardMaster.get([i, j]) }}
