%html
  %head
    %title minmax
    %meta(http-equiv="Content-Type" content="text/html: charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %script(src="scripts/vendor.js")
    %script(src="scripts/scripts.min.js")
    %link(href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    %link(href="vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet")
    %link(href="styles/minmax.css" rel="stylesheet")
  %body
    .container(ng-view)
